:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  margin: 0 auto;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  font-size: 16px;
  font-family: var(--default-font-family);
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 96px;
  font-weight: 700;
  font-family: var(--heading-font-family);
}

h2 {
  font-size: 36px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: var(--default-font-family);
  color: #272142;
}

h4 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--default-font-family);
}

div {
  display: block;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}

.logo {
  max-height: 40px;
}

.hero {
  background-color: #f9f7fe;
  padding: 80px 20px;
  margin-bottom: 40px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 48px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.project-description {
  padding: 120px 60px;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.project-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: var(--default-font-family);
}

.yoga-photo,
.weather-photo {
  width: 400px;
}

.project-photos {
  display: flex;
  justify-content: center;
}

.content {
  margin: 30px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
}

.content h2 {
  font-size: 24px;
}

.content h3 {
  font-size: 14px;
}

.work-photo {
  display: flex;
  justify-content: center;
  width: 560px;
  height: auto;
  size: 25px;
}

.contact-box h4 {
  font-size: 48px;
}

.github-link {
  color: var(--primary-color);
  text-decoration: none;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  nav a {
    font-size: 12px;
  }
}
